<form class="m-3">
  <div class="form-group">
    <textarea rows="1" class="form-control" id="title">{{post.title}}</textarea>
    <textarea rows="3" class="form-control" id="post-area">{{post.content}}</textarea>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-dark m-2 mt-3 update-btns" id="update">Update</button>
      <button type="submit" class="btn btn-dark m-2 mt-3 update-btns" id="delete">Delete</button>
    </div>
  </div>
</form>
<script src="/js/update.js"></script>