    <form class="m-3">
      <div class="form-group">
        <textarea rows="3" class="form-control" id="title">{{post.title}}</textarea>
        <textarea rows="3" class="form-control" id="post-text">{{post.content}}</textarea>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary m-2">Delete</button>
        </div>
      </div>
    </form>
